.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
}

.language {
  font-weight: 600;
}

.level {
  font-size: 0.9rem;
}

.item,
.language,
.level {
  color: #fff;
}
