.item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  text-align: center;
}

.role {
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.meta {
  display: flex;
  gap: 8px;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
}

.company::after {
  content: " -";
}
.company {
  text-align: center;
}

.period {
  white-space: nowrap;
}

.description {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
}
