.item {
  display: flex;
  align-items: center;
  width: 350px;
  gap: 12px;
}

.label {
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
}

.value {
  font-size: 0.9rem;
  color: #fff;
}
