.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.roundPic {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-image: url("profile.jpg");
  background-size: cover;
  background-position: center;
}
