.about {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--color-one);
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 12px;
  color: #fff;
}

.text {
  font-size: 0.95rem;
  color: #fff;
  line-height: 1.6;
  text-align: justify;
}
