.contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background-color: var(--color-blue);
}

.title {
  margin-bottom: 16px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
