.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.name {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff; /* gris proche du noir */
  text-align: center;
}
