.hobbies {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
}

.title {
  margin-bottom: 16px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-blue);
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 16px;
  color: var(--color-blue);
}
