.academic {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: var(--color-two);
}

.title {
  font-size: 1.4rem;
  margin-bottom: 16px;
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
