.experience {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--color-three);
}

.title {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
