body {
  padding: 0px;
  margin: 0px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
.globalContent {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

/* Ligne 1 et ligne 2 */
.first-Line {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*gap: 24px;*/
}

.second-Line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*gap: 24px;*/
}

.third-Line {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*gap: 24px;*/
}

/* Tablet */
@media (max-width: 1023px) {
  .first-Line,
  .second-Line {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .first-Line,
  .second-Line {
    grid-template-columns: 1fr;
  }
}
