body {
  padding: 0px;
  margin: 0px;
}
.globalContent {
  display: flex;
  flex-direction: column;
  /gap: 24px;
  padding: 24px;
}

/* Ligne 1 et ligne 2 */
.first-Line,
.second-Line {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*gap: 24px;*/
}

/* Tablet */
@media (max-width: 1023px) {
  .first-Line,
  .second-Line {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .first-Line,
  .second-Line {
    grid-template-columns: 1fr;
  }
}
