:root {
  /* Colors */
  --color-one: #4d0236;
  --color-two: #1a3f21;
  --color-three: #bdab0b;
  --color-four: #c92b38;
  --color-five: #012a68;
  --color-six: #b84300;
  --color-seven: #1d5caf;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  /* Font sizes */
  --font-sm: 0.9rem;
  --font-md: 1rem;
  --font-lg: 1.4rem;
}
