.languages {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--color-three);
}

.title {
  margin-bottom: 16px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
}
